.post-info {
    max-width: 700px;
    margin: 20px auto 0;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.post-info {
    font-size: 20px;
}

.post-info p {
    color: #666;
    line-height: 24px;
    margin-top: 5px;
}

.post-info p a {
    color: #069;
}

.button {
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    border: 0;
    background: #495057;
    color: #fff;
    margin-left: 2em;
}

.utilsContainer {
    margin-top: 2em;
}