html {
    font-size: 62.5%;
}

.posts-list {
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: center;
    width: 80%;
    margin: 2rem auto 0;
    padding: 0 2rem;
}

.posts-list article {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 2rem;
    margin-top: 2rem;
}

.posts-list article a {
    height: 4rem;
    width: 50%;
    border-radius: 5px;
    border: 2px solid #495057;
    background: none;
    margin-top: 20px;
    color: #495057;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    max-width: 30%;
    margin: 2rem auto 0;
}

.posts-list article a:hover {
    background: #495057;
    color: #fff;
}

.posts-list h2 {
    font-size: 2.5rem;
}

.posts-list button {
    padding: 1rem;
    border-radius: 5px;
    border: 0;
    background: #495057;
    color: #fff;
    font-size: 1.6rem;
    font-weight: bold;
    cursor: pointer;
}

.posts-list button:hover {
    opacity: .8;
}

.containerUtils {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

input {
    height: 2em;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid #999;
    background: none;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    color: #232323;
}


.containerUtils a {
    height: 2em;
    border-radius: 5px;
    padding: 0 1em;
    border: 2px solid #495057;
    background: none;
    color: #495057;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.containerUtils a:hover {
    background: #495057;
    color: #fff;
}

@media (max-width: 760px) {
    .posts-list h2 {
        font-size: 1.5rem;
    }

    .posts-list article a {
        font-size: 1.5rem;
        height: 3rem;
    }
}