html {
    font-size: 62.5%;
}

 .content {
    width: 100%;
    padding: 9.6rem;
    background: #f0f0f5;
    box-shadow: 0 0 10rem rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

 .content section {
    width: 100%;
    max-width: 38rem;
}

 .content section h1{
    margin: 6.4rem 0 3.2rem;
    font-size: 3.2rem;
}

 .content section p {
    font-size: 1.8re,;
    color: #737280;
    line-height: 3.2rem;
}

 .content form {
    width: 100%;
    max-width: 45rem;
}

 .content form input {
    margin-top: 8px;
    height: 3em;
}

.button {
    padding: 1rem;
    border-radius: 5px;
    border: 0;
    background: #495057;
    color: #fff;
    font-size: 1.8rem;
    font-weight: bold;
    cursor: pointer;
    margin: 0;
    margin-top: 1em;
    margin-left: 2rem;
}

.button:hover {
    opacity: 0.8;
}

.new-post {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

@media (max-width: 760px){
    .button {
        margin-left: 0;
    }
}